/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* UTILITIES */
.border-bl {
    border: 1px solid black;
    /* border-style: hidden; */
}

.mg-2px{
    margin-left: 2px;
    margin-right: 2px;
}

.pd-5px {
    padding: 5px;
}

.text-bl {
    color: black;
}

/* HEADER */

.header {
    background-color: lightblue;
    height: 50px;
    display: flex;
    align-items: center;
}


.sec-header {
    background-color: orange;
    height: 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto
}

.logo {
    width: 25%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
   
}

.link-list {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 25%;
    text-align: right;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: right;
}

.section-1 {
    background-color: darkblue;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-1 {
    background-color: violet;
    height: 280px;
    width: 60%;
    display: flex;
    


}

